@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #030712;
  color: #fff;
  background-image:
    radial-gradient(
      circle at 15% 50%,
      rgba(79, 70, 229, 0.15) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 85% 30%,
      rgba(217, 70, 239, 0.15) 0%,
      transparent 60%
    );
  background-attachment: fixed;
  animation: pulse-bg 15s ease-in-out infinite alternate;
}

@keyframes pulse-bg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

::selection {
  background-color: rgba(99, 102, 241, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
